<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="css/bootstrap.min.css" type="css">
	<title>
		Quizzical
	</title>
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="" class="navbar-brand">Quizzical</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="well bs-component">
					<form method='post' action='category' class='form-horizontal'>
						<fieldset>
							<legend>Add Category</legend>
							<div class="form-group">
								<label for="name" class="col-lg-2 control-label">Name</label>
								<div class="col-lg-10">
									<input type='text' class="form-control" id="name" name='name' placeholder="Name"/>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-primary">Submit</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									{{if .CategoryError}}
										<div class="alert alert-danger">{{.CategoryError}}</div>
									{{else if .Category}}
										<div class="alert alert-success">New Category '{{.Category}}' created.</div>
									{{end}}
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="well bs-component">
					<form method='post' action='question' class='form-horizontal'>
						<fieldset>
							<legend>Add Question</legend>
							<div class="form-group">
								<label for="question" class="col-lg-2 control-label">Question</label>
								<div class="col-lg-10">
									<input type='text' name='question' class="form-control" placeholder="Question"/>
								</div>
							</div>
							<div class="form-group">
								<label for="a" class="col-lg-2 control-label">A</label>
								<div class="col-lg-10">
									<input type='text' name='a' class="form-control" placeholder="A"/>
								</div>
							</div>
							<div class="form-group">
								<label for="b" class="col-lg-2 control-label">B</label>
								<div class="col-lg-10">
									<input type='text' name='b' class="form-control" placeholder="B"/>
								</div>
							</div>
							<div class="form-group">
								<label for="c" class="col-lg-2 control-label">C</label>
								<div class="col-lg-10">
									<input type='text' name='c' class="form-control" placeholder="C"/>
								</div>
							</div>
							<div class="form-group">
								<label for="d" class="col-lg-2 control-label">D</label>
								<div class="col-lg-10">
									<input type='text' name='d' class="form-control" placeholder="D"/>
								</div>
							</div>
							<div class="form-group">
								<label for="category" class="col-lg-2 control-label">Category</label>
								<div class="col-lg-10">
									<select name='category' class="form-control">
										{{range .Categories}}
											<option value="{{.Name}}">{{.Name}}</option>
										{{end}}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="answer" class="col-lg-2 control-label">Answer</label>
								<div class="col-lg-10">
									<select name='answer' class="form-control">
										<option value='A'>A</option>
										<option value='B'>B</option>
										<option value='C'>C</option>
										<option value='D'>D</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type='submut' class='btn btn-primary'>Submit</button>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									{{if .QuestionError}}
										<div class="alert alert-danger">{{.QuestionError}}</div>
									{{else if .Question}}
										<div class="alert alert-success">New Question '{{.Question}}' created.</div>
									{{end}}
								</div>
							</div>
						</fieldset>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>